body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}

h1 {
    padding: 30px;
}

.btn {
    margin-left: 10px;
}

form {
    align-items: center;
}

#textBox {
    height: 38px;
}

.task {
    padding-left: 10px;
    margin-top: 10px;
}

:checked + .task {
    text-decoration: line-through;
    color: #601010;
}

.form {
    margin-bottom: 20px;
}
